@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  line-height: normal;
}

.orbitron {
  font-family: 'Orbitron', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}